[{"TempMin":-100,"TempMax":10,"RainMax":0,"SprinklingMax":0},{"TempMin":10,"TempMax":15,"RainMax":1,"SprinklingMax":10},{"TempMin":15,"TempMax":20,"RainMax":3,"SprinklingMax":20},{"TempMin":20,"TempMax":25,"RainMax":4,"SprinklingMax":60},{"TempMin":25,"TempMax":30,"RainMax":4,"SprinklingMax":80},{"TempMin":30,"TempMax":100,"RainMax":4,"SprinklingMax":100}]